<!DOCTYPE html>
<html>
<head>
    <title>Attendance List</title>
</head>
<body>
    <h1>Attendance Records</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for record in attendance_records %}
                <tr>
                    
                    <td><a href="{% url 'filter_by_name' %}?name={{ record.name }}">{{ record.name }}</a></td>
                    <td>{{ record.role }}</td>
                    <td>{{ record.ctime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
